body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.item {
    padding: 20px;
    background-color: lightblue;
    font-size: 20px;
    border-radius: 8px;
}
